body {
    margin: auto;
    width: 50%;
    background: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
}

header,
nav,
footer {
    margin: 10px;
    padding: 20px;
    text-align: center;
    background:#ebebeb;
    color: #777777;
}

section,
.headings,
.p,
aside {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background:#ebebeb;
    color: #777777;
}

section {
    float: left;
    width: 495px;
}

.article {
    margin: 0px;
    padding: 15px;
    text-align: center;
    background: #777777;
    color:#ebebeb;
}

.headings {
    font-weight: bold;
}

aside {
    width: 385px;
    height: 339px;
    display: inline-block;
}

footer {
    clear: both;
}